<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>
<div class="banner_picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1200x400/?<%= @list.name.capitalize %>)">
  <p><%= @list.name.capitalize %></p>
</div>

<div class="container">
  div.
</div>
