<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <div><%= image_tag "claquete.png", alt: "Website Logo", width: 80 %></div>
    <div>
      <p class="btn btn-light">My Lists</p>
      <p class="btn btn-light">New List</p>
    </div>
  </div>
</nav>

