<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <div><i class="fas fa-film"></i></div>
    <div>
      <p class="btn btn-light">My Lists</p>
      <p class="btn btn-light">New List</p>
    </div>
  </div>
</nav>

